# Entering Data
Ad hoc data. There are many methods: colon, seq, c, scan, rep. Also <- is an assignment operator.

In Rstudio there is a shortcut (option-dash) for the assignment

In [2]:
x1 <- 10:0
x1

 [1] 10  9  8  7  6  5  4  3  2  1  0

In [3]:
?seq

In [8]:
x3 <- seq(10)
x3

x4 <- seq(30, 0, by = -3)
x4

x5 <- c(5,3,2,13,5,4,2,5,6)
x5

 [1]  1  2  3  4  5  6  7  8  9 10

 [1] 30 27 24 21 18 15 12  9  6  3  0

[1]  5  3  2 13  5  4  2  5  6

The scan() function is to input data as for cin>> in C++. It cannot be used (as far as i know) in jupyter but it only works in Rstudio

In [ ]:
?scan

In [16]:
x6 <- scan()

In [17]:
?rep

numeric(0)

In [22]:
x7 <- rep(TRUE, 5) #rep = repetition
x7

x8 <- rep(c(TRUE, FALSE), 5)
x8

x9 <- rep(c(TRUE, FALSE), each=5)
x9

[1] TRUE TRUE TRUE TRUE TRUE

 [1]  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE

# Importing Data
Importing data as csv, txt files as well as xlsx and json. R as all importing functions but you can use just one with the RIO library. In Rstudio it's easy i cannot find a way to import it in jupyter

In [54]:
#using the standart library of R
csv <- read.csv2('R_data/mbb.csv', header=TRUE, sep=',')
head(csv)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [60]:
r_txt1 <- read.table('R_data/mbb.txt', header=TRUE, sep = '\t')
head(r_txt1)

  Month   Mozart Beethoven Bach
1 2004-01 12     8         15
2 2004-02 12     9         15
3 2004-03 12     9         14
4 2004-04 12     8         14
5 2004-05 11     9         13
6 2004-06  9     7         12

In [61]:
#using rio library
rio_csv <- import('R_data/mbb.csv')
head(rio_csv)

rio_txt <- import('R_data/mbb.txt')
head(rio_txt)

ERROR: Error in import("R_data/mbb.csv"): non trovo la funzione "import"

In [55]:
?View

In [56]:
View(csv)

ERROR: Error in View(csv): 'View()' not yet supported in the Jupyter R kernel